.preferred {
  position: absolute;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-accent);
  top: 0;
  right: -1rem;
  cursor: pointer
}

.preferred::after {
  position: absolute;
  content: 'Preferred contact';
  display: block;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.6);
  right: 5rem;
  top: -1rem;
  color: white;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 1rem;
  transform: translate(100%, -100%) scale(0.4);
  opacity: 0;
  transform-origin: 50% 100%;
  backface-visibility: hidden;
  z-index: 5;
}

.preferred:hover::after {
  transition: .2s ease-out;
  transform: translate(100%, -100%) scale(1);
  opacity: 1;
}
