<div class="dialog">
  <h2
    class="dialog__title"
    mat-dialog-title>Add Candidate
  </h2>

  <div class="dialog__content">
    <form #f="ngForm" fxLayout="column">
      <mat-form-field fxFlex="100%">
        <input
          placeholder="Name"
          type="text"
          matInput
          name="name"
          [(ngModel)]="data.candidate.name"
        />
      </mat-form-field>

      <mat-form-field fxFlex="100%">
        <input
          placeholder="Surname"
          type="text"
          matInput
          name="surname"
          [(ngModel)]="data.candidate.surname"
        />
      </mat-form-field>

      <mat-form-field fxFlex="100%">
        <input
          placeholder="Position"
          type="text"
          matInput
          name="position"
          [(ngModel)]="data.candidate.position"
        />
      </mat-form-field>

      <div
        mat-dialog-actions
        fxLayout="row nowrap"
        fxLayoutGap="1rem"
        class="dialog__actions"
      >
        <button
          type="button"
          mat-raised-button
          color="warn"
          [mat-dialog-close]="false"
          fxFlex="50"
        >
          Cancel
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          cdkFocusInitial
          [mat-dialog-close]="data.candidate"
          fxFlex="50"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
