.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  border-radius: 5px;
  background-color: rgba(107, 107, 107, 0.5);
  margin-bottom: 0;
  cursor: pointer;
  transition: .2s;

  &:hover {
    background-color: rgba(107, 107, 107, 0.7);
  }

  &__icon {
    color: white;
    font-size: 2rem;
  }
}

.toolbar_card {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 3rem 3rem 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafa;
  position: relative;
}

.toolbar {
  .add_vacancy_btn {
    display: flex;
    width: 100%;
    height: 2rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    transform: translateY(-2rem);
  }

  .status_filter_label {
    span {
      font-size: 1.4rem;
      font-style: italic;
      user-select: none;
      display: inline-block;
      margin-right: .7rem;
      transform: translateY(.2rem);
    }
  }

  &_filters {
    display: flex;
    align-items: center;

    mat-form-field {
      flex: 1;
      padding-bottom: 0 !important;
      margin-right: 2rem;
    }

    .right_part {
      transform: translateY(.5rem);
    }
  }
}



.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2.5rem;

  & > * {
    flex: 0 1 calc(50% - 2rem / 2);
  }
}

hr-small-card {
  margin-bottom: 2rem;

  &:nth-child(odd) {
    margin-right: 2rem;
  }
}

.vacancy {
  position: relative;

  &__heading {
    position: relative;
    display: inline-block;
    margin: 0;
    font: 500 2rem/3.2rem Roboto,"Helvetica Neue",sans-serif;
  }

  &__candidates-count {
    font-size: 1.4rem;
    color: grey;
    margin-bottom: 0;
  }

  &__action {
    position: absolute;
    top: -1.5rem;
    right: -2rem;
  }

  &__status {
    display: block;
    position: absolute;
    bottom: 0;
    right: -5px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;

    &.vacancy__status--opened {
      background-color: rgb(24, 185, 137);
    }

    &.vacancy__status--suspended {
      background-color: goldenrod;
    }

    &.vacancy__status--canceled {
      background-color: grey;
    }

    &.vacancy__status--closed {
      background-color: var(--color-warn);
    }
  }
}



@media only screen and (max-width: 48em) {
  .wrapper {
    & > * {
      flex: 1 1 100%;
    }
  }

  hr-small-card {
    margin-right: 2rem;
  }
}
