<div
  class="toggle"
  [matTooltip]="toolbarMessage"
  (click)="toggleToolbar()"
>
  <mat-icon class="toggle__icon">
    {{!filterService.isToolbarShown ? 'arrow_drop_down' : 'arrow_drop_up'}}
  </mat-icon>
</div>

  <div class="toolbar toolbar_card" [hidden]="!filterService.isToolbarShown">

    <button
      class="add_vacancy_btn"
      mat-raised-button
      color="primary"
      (click)="onAddVacancy()"
    >
      Add Vacancy
    </button>

    <div class="toolbar_filters">

      <mat-form-field>
        <input
         type="text"
          matInput placeholder="Filter by title"
          [value]="filterService.curFilterText"
          (input)="filterService.filterText$.next($event.target.value)"
        >
      </mat-form-field>

      <div class="right_part">
        <label
          class="status_filter_label"
          *ngFor="let status of vacancyStatuses"
          style="margin-left: 10px;"
        >
          <span>{{status | titlecase}}</span>
          <mat-checkbox
            [checked]="filterService.isStatusIncluded(status)"
            [name]="status"
            (change)="filterService.toggleStatusFilteres($event.source.name, $event.checked)"
          >
          </mat-checkbox>
        </label>
      </div>
    </div>

  </div>


<div class="wrapper">

  <ng-container *ngFor="let vacancy of (vacancies$ | async)">
    <hr-small-card>
      <div class="vacancy">
        <h2 class="vacancy__heading">
          {{ vacancy.title }}
        </h2>

        <p class="vacancy__candidates-count">
          Total candidates: {{vacancy.candidatesBlobs.length}}
        </p>

        <span
          [ngClass]="['vacancy__status', getClassForStatus(vacancy.status)]"
          [matTooltip]="vacancy.status"
          matTooltipPosition="left"
        >
        </span>

        <div class="vacancy__action">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <a mat-menu-item [routerLink]="vacancy.id">
              <span>More info</span>
            </a>
            <a
              mat-menu-item
              (click)="onUpdateVacancy(makeDeepCopy(vacancy))"
            >
              <span>Edit</span>
            </a>
            <a
              mat-menu-item
              style="color: var(--color-warn)"
              (click)="onDeleteVacancy(vacancy.id)"
            >
              <span>Delete</span>
            </a>
          </mat-menu>
        </div>

      </div>
    </hr-small-card>
  </ng-container>

</div>


<hr-smart-go-back-btn></hr-smart-go-back-btn>
