<ng-container *ngIf="interview">
  <section class="description mat-big-card">
    <a
      mat-icon-button
      matTooltip="Go back"
      class="go_back"
      routerLink="/interview"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </a>
    <div class="controls">
      <button
        mat-mini-fab
        (click)="onUpdateInterview()"
        color="primary"
        matTooltip="Edit the interview event"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-mini-fab
        matTooltip="Delete the interview event"
        (click)="onDeleteInterview()"
        color="warn"
        style="margin-left: 1rem;"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <h1>{{ interview.title }}</h1>

    <table class="table description__table">
      <tr>
        <td>{{ 'Vacancy' | translate }}:</td>
        <td>
          <a
            [routerLink]="['/vacancies', interview.vacancy.id]"
            matTooltip="Go to the vacancy page"
            matTooltipPosition="right"
          >
            {{ interview.vacancy.title }}
          </a>
        </td>
      </tr>
      <tr>
        <td>{{ 'Place' | translate }}:</td>
        <td>{{ interview.place }}</td>
      </tr>
      <tr>
        <td>{{ 'When' | translate }}:</td>
        <td>
          {{ interview.start | date }}. {{ 'From' | translate }}
          <span class="description__time"
            >{{ interview.start | date: 'HH:mm' }} -
            {{ interview.end | date: 'HH:mm' }}</span
          >
        </td>
      </tr>
      <tr>
        <td>{{ 'Interviewer' | translate }}:</td>
        <td>{{ interview.interviewer.name }} {{ interview.interviewer.surname }}</td>
      </tr>
    </table>
  </section>

  <section class="candidate-wrapper mat-big-card">
    <div class="candidate">
      <figure
      class="candidate__figure"
      [matTooltip]="'Go to ' + interview.candidate['name'] + '\'s page'"
      matTooltipPosition="right"
    >
      <a (click)="goToCandidatePage()">
        <img [src]="interview.candidate.photo" class="candidate__img" />
      </a>
    </figure>
    <div class="candidate__short-info">
      <table class="table short-info__table">
        <tr>
          <th>Short Info</th>
        </tr>
        <tr>
          <td>{{ 'Name' | translate }}:</td>
          <td>{{ interview.candidate.name }}</td>
        </tr>
        <tr>
          <td>{{ 'Surname' | translate }}:</td>
          <td>{{ interview.candidate.surname }}</td>
        </tr>
      </table>
    </div>
    <div class="candidate__contacts">
      <table class="table contacts__table">
        <tr>
          <th>Contacts</th>
        </tr>
        <tr *ngIf="contacts.phone.length > 0">
          <td>Phone:</td>
          <td>
            <span
              class="preferred"
              *ngFor="let c of contacts.phone"
            >
              <hr-preferred-contact-icon *ngIf="c.preferred">
              </hr-preferred-contact-icon>
              {{ c.value }} <br />
            </span>
          </td>
        </tr>
        <tr *ngIf="contacts.email.length > 0">
          <td>Email:</td>
          <td>
            <span
              class="preferred"
              *ngFor="let c of contacts.email"
            >
              <hr-preferred-contact-icon *ngIf="c.preferred">
              </hr-preferred-contact-icon>
              {{ c.value }} <br />
            </span>
          </td>
        </tr>
        <tr *ngIf="contacts.skype.length > 0">
          <td>Skype:</td>
          <td>
            <span
              class="preferred"
              *ngFor="let c of contacts.skype"
            >
              <hr-preferred-contact-icon *ngIf="c.preferred">
              </hr-preferred-contact-icon>
              {{ c.value }} <br />
            </span>
          </td>
        </tr>
        <tr *ngIf="contacts.other.length > 0">
          <td>Other:</td>
          <td>
            <span
              class="preferred"
              *ngFor="let c of contacts.other"
            >
              <hr-preferred-contact-icon *ngIf="c.preferred">
              </hr-preferred-contact-icon>
              {{ c.value }} <br />
            </span>
          </td>
        </tr>
      </table>
    </div>
    </div>

    <div class="candidate__bottom">
      <hr-candidate-assets-inter [interview]="interview">
      </hr-candidate-assets-inter>
    </div>
  </section>

  <section class="questionnaire mat-big-card">
    <h2 class="questionnaire__heading"><mat-icon>question_answer</mat-icon> Questionnaire</h2>
    <hr-questionnaire
      [vacancy]="interview.vacancy"
      [interviewer]="interview.interviewer"
      (feedbackCreated)="onAddFeedback($event)"
    >
    </hr-questionnaire>
  </section>
</ng-container>
