<div class="buttons">
  <button mat-icon-button (click)="addInterview()" title="Assign interview">
    <img class="icon" [src]="interviewSrc"/>
  </button>
  <button mat-icon-button (click)="addCv()" title="Load CV">
    <img class="icon" [src]="cvSrc"/>
  </button>
  <button mat-icon-button (click)="addExperience()" title="Add experience">
    <img class="icon" [src]="experienceSrc"/>
  </button>
  <button mat-icon-button (click)="addNotes()" title="Add Notes">
    <img class="icon" [src]="notesSrc"/>
  </button>
</div>
<div class="timeLine" *ngIf="candidateInfo[0]">
  <mat-card class="notes-info" fxLayout *ngFor="let element of candidateInfo; let i=index">
    <div class="switch" [ngSwitch]="element.type">
      <ng-container *ngSwitchCase="'Note'">
        <table fxFlex="1 1 auto" class="info-table">
          <tr>
            <button class="close" mat-icon-button (click)="closeBlock(i, element)">
              <mat-icon>close</mat-icon>
            </button>
            <h2>Note</h2>
          </tr>

          <tr>
            <td>
              {{element.date | date}}
            </td>
            <td>
              <mat-form-field>
              <textarea
                class="note-input"
                matInput
                [(ngModel)]="element.note"
                placeholder="Note"
                name="Note"
                required
              ></textarea>
              </mat-form-field>
            </td>
          </tr>
          <button
            mat-raised-button
            (click)="saveNotes(i, element)"
            color="primary"
            [disabled]="!element.note"
          >Save</button>
        </table>
      </ng-container>
      <ng-container *ngSwitchCase="'Experience'">
        <table fxFlex="1 1 auto" class="info-table">
          <button class="close" mat-icon-button (click)="closeBlock(i, element)">
            <mat-icon>close</mat-icon>
          </button>
          <h2>Experience</h2>
          <tr>
            <td>
              {{element.date | date}}
            </td>
            <td>
              <p>
                <mat-form-field>
                  <input
                    matInput
                    [(ngModel)]="element.dateFrom"
                    name="Date from"
                    [matDatepicker]="picker1"
                    placeholder="Date from"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field>
                  <input
                    matInput
                    [(ngModel)]="element.dateTo"
                    name="Date to"
                    [matDatepicker]="picker2"
                    placeholder="Date to"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field>
                  <input
                    matInput
                    [(ngModel)]="element.companyName"
                    placeholder="Company name"
                    name="Company name"
                    required
                  />
                </mat-form-field>
              </p>
              <p>
                <mat-form-field>
                  <input
                    matInput
                    [(ngModel)]="element.position"
                    placeholder="Position"
                    name="Position"
                  />
                </mat-form-field>
              </p>

            </td>
          </tr>
          <button
            mat-raised-button
            (click)="saveExperience(i, element)"
            color="primary"
            [disabled]="!element.companyName"
          >Save</button>
        </table>
      </ng-container>
      <ng-container *ngSwitchCase="'CV'">
        <table fxFlex="1 1 auto" class="info-table">
          <button class="close" mat-icon-button (click)="closeBlock(i, element)">
            <mat-icon>close</mat-icon>
          </button>
          <h2>CV</h2>
          <tr>
            <td>
              {{element.date | date}}
            </td>
            <td>
              <h4 mat-line><mat-icon mat-list-icon>note</mat-icon> {{element.name}}</h4>
              <button mat-raised-button (click)="downloadCv(element)" color="primary">Download</button>
            </td>
          </tr>
        </table>
      </ng-container>
    </div>
  </mat-card>
</div>

