<div *ngIf="candidates$ | async; else loader">
  <section class="candidates-board" fxLayout *ngIf="candidates.length !== 0; else empty">
    <section class="candidate mat-big-card" *ngFor="let candidate of candidates">
      <div class="controls-delete">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <a mat-menu-item (click)="onDeleteCandidate(candidate.id)">
        <span
          style="color: var(--color-warn);"
        >
          Delete
        </span>
          </a>
        </mat-menu>

      </div>
      <figure
        class="candidate__figure"
        [matTooltip]="'Go to ' + candidate['name'] + '\'s page'"
        matTooltipPosition="right"
      >
        <a [routerLink]="['/candidates', candidate.id]">
          <img [src]="candidate.photo" class="candidate__img"/>
        </a>
      </figure>
      <div>
        <h4 class="name">{{ candidate.name }} {{ candidate.surname }}</h4>
        <table class="table table__contacts">
          <tr>
            <td *ngIf="candidate.position">position:</td>
            <td>{{ candidate.position }}</td>
          </tr>
          <tr *ngFor="let contact of candidate.contacts">
            <td>{{ contact.type }}:</td>
            <td>
              <ng-container>
                <span
                  [ngClass]="{ preferred: contact.preferred }"
                >
                {{ contact.value }}
              </span><br>
              </ng-container>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </section>

  <ng-template #empty>
    <p>You have no candidates</p>
  </ng-template>

  <div>
    <button
    mat-mini-fab
    color="primary"
    matTooltip="Add new candidate"
    (click)="onAddCandidate()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
