h2 {
  text-align: center;
  margin-top: 0;
}

.dialog {
  padding-bottom: 3rem;
  min-width: 28vw;
  max-width: 50rem;
  overflow: hidden;
}

.full_width {
  width: 100%;
}

.add-candidate-figure {
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  margin: auto;
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  position: relative;
}

.add-candidate-figure:hover .overflow {
  opacity: 1;
  transition: opacity .2s ease-out 1.5s;
}

.overflow {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  color: white;
}

.candidate-img {
  display: block;
  max-height: 20rem;
  max-width: 20rem;
}

.img-uploader {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
}

.form_group:hover .contact_delete {
  opacity: 1;
}
