<div class="mat-big-card">
  <h2><mat-icon>question_answer</mat-icon> Questionnaire</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Not Required</h3>
    <h4>Public</h4>
    <div
      formArrayName="notReqPub"
      *ngFor="let f of notReqPub.controls; let i = index"
    >
      <div [formGroupName]="i">
        <mat-form-field style="width: 100%">
          <textarea
            matInput
            [placeholder]="f.get('requirement').value"
            formControlName="response"
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <h4>Private</h4>
    <div
      formArrayName="notReqPriv"
      *ngFor="let f of notReqPriv.controls; let i = index"h4
    >
      <div [formGroupName]="i">
        <mat-form-field style="width: 100%">
          <textarea
            matInput
            [placeholder]="f.get('requirement').value"
            formControlName="response"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <h3>Required</h3>
    <h4>Public</h4>
    <div formArrayName="reqPub" *ngFor="let f of reqPub.controls; let i = index">
      <div [formGroupName]="i">
        <mat-form-field style="width: 100%">
          <textarea
            matInput
            [placeholder]="f.get('requirement').value"
            formControlName="response"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <h4>Private</h4>
    <div
      formArrayName="reqPriv"
      *ngFor="let f of reqPriv.controls; let i = index"
    >
      <div [formGroupName]="i">
        <mat-form-field style="width: 100%">
          <textarea
            matInput
            [placeholder]="f.get('requirement').value"
            formControlName="response"
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button color="primary" [disabled]="form.invalid">
      Publish
    </button>
  </form>
</div>


