<nav class="nav">
  <div class="nav_left">
    <span class="nav-logo">HR APP</span>
    <a
      routerLink="/interview"
      routerLinkActive="active"
      mat-button
      class="nav-item"
    >
      {{ 'Interview' | translate }}
    </a>
    <a
      routerLink="/candidates"
      routerLinkActive="active"
      mat-button
      class="nav-item"
    >
      {{ 'Candidates' | translate }}
    </a>
    <a
      routerLink="/vacancies"
      routerLinkActive="active"
      mat-button
      class="nav-item"
    >
      {{ 'Vacancies' | translate }}
    </a>
  </div>

  <div class="nav_right">
    <div class="lang_switch">
      <a [matMenuTriggerFor]="menu" mat-button class="nav_lang">
        <img
          [src]="'/assets/images/icons/' + choosenLang + '.png'"
          height="20"
          style="margin-right: .7rem;"
        />
        {{ choosenLang | uppercase }}
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
      <mat-menu #menu="matMenu" xPosition="before">
        <a mat-menu-item (click)="switchLang('en')"> <span>{{'English' | translate}}</span> </a>
        <a mat-menu-item (click)="switchLang('ru')"> <span>{{'Russian' | translate}}</span> </a>
      </mat-menu>
    </div>
    <a (click)="logout()" mat-button class="nav-item"> {{'Logout' | translate}} </a>
  </div>

</nav>

<div class="container"><router-outlet></router-outlet></div>
