.nav {
  background: var(--color-primary);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  padding: 1rem 2.6rem;
  margin-bottom: 2.5rem;
}

.nav-logo {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 2.5rem;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  transition: .5s;
}

.nav-item.active {
  background-color: rgba(0,0,0,.15);
}
