<nav class="nav">
  <span class="nav-logo">HR APP</span>
  <a
    routerLink="/candidates"
    routerLinkActive="active"
    mat-button
    class="nav-item"
  >
    Candidates
  </a>
  <a
    routerLink="/vacancies"
    routerLinkActive="active"
    mat-button
    class="nav-item"
  >
    Vacancies
  </a>
  <a
    routerLink="/interview"
    routerLinkActive="active"
    mat-button
    class="nav-item"
  >
    Interview
  </a>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

