<ng-container *ngIf="vacancy$ | async; let vacancy">
    <section class="description mat-big-card">
        <a
          mat-icon-button
          matTooltip="Go back"
          class="go_back"
          routerLink="/vacancies"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </a>
        <div class="controls">
          <button
            mat-mini-fab
            color="primary"
            matTooltip="Edit the vacancy"
            (click)="onEditVacancy(vacancy)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-mini-fab
            matTooltip="Delete the vacancy"
            color="warn"
            style="margin-left: 1rem;"
            (click)="onDeleteVacancy(vacancy.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <h1>{{ vacancy.title }}</h1>

        <table class="table description__table">
          <tr>
            <td>Description: </td>
            <td>
              {{vacancy.description}}
            </td>
          </tr>
          <tr>
            <td>Requirements:</td>
            <td>
               <!-- TODO: requirements here! -->
               s
            </td>
          </tr>
        </table>
      </section>
</ng-container>

<!-- <p>
  {{vacancy$ | async | json}}
</p> -->


<!-- <p>
  {{possibleCandidates$ | async | json}}
</p> -->

