<div class="dialog">
  <h2>Add Note</h2>

  <mat-form-field class="full_width">
    <textarea
      matInput
      placeholder="Leave a note"
      name="body"
      [(ngModel)]="body"
    >
    </textarea>
  </mat-form-field>

  <div
    mat-dialog-actions
    fxLayout="row nowrap"
    fxLayoutGap="10px"
    class="actions"
  >
    <button
      mat-raised-button
      color="warn"
      [mat-dialog-close]="false"
      fxFlex="50"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="body"
      cdkFocusInitial
      fxFlex="50"
    >
      Save
    </button>
  </div>
</div>
