<div class="dialog">
  <h2 mat-dialog-title>Add Possible Candidates</h2>

  <div class="dialog__main">
    <!-- FIXME: DRAFT -->

    <mat-form-field class="full_width">
      <input
        matInput
        placeholder="Search for candidates by Full Name or Contacts"
        type="text"
        (input)="filterService.filterText$.next($event.target.value)"
        (focus)="filterService.filterText$.next($event.target.value)"
      >
    </mat-form-field>
    <br />

    <div class="dialog__candidates-list">
      <hr-candidates-list
        [candidates$]="filterService.filteredCandidatesForVacancy$"
        [shouldShowImage]="false"
        [shouldShowDeleteTooltip]="false"
        [styleForVacancy]="true"
        [pickedIds]="pickedIds"
        (candidatesIdPicked)="onTogglePossibleCandidate($event)"
      >
      </hr-candidates-list>
      <div
        class="dialog__no-candidates-fond"
        *ngIf="filterService.filteredCandidatesForVacancy.length === 0"
      >
        No such candidates 😟
      </div>
    </div>

    <h4 style="margin-top: 3rem">
      Total choosen: {{ pickedIds.length }}
    </h4>
  </div>

  <div
    mat-dialog-actions
    fxLayout="row nowrap"
    fxLayoutGap="10px"
    class="actions"
  >
    <button
      mat-raised-button
      color="warn"
      [mat-dialog-close]="false"
      fxFlex="50"
      type="button"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="pickedPossibleCandidates"
      fxFlex="50"
      type="submit"
    >
      Add
    </button>
  </div>
</div>
