<div
  class="card"
  (click)="candidatesIdPicked.next(candidate.id); toggleCardIsChoosen()"
  [ngClass]="{
    'for_vacancy': styleForVacancy,
    'for_vacancy__picked': isCardChoosen
  }"
>
  <div
    *ngIf="styleForVacancy"
    [ngClass]="{
      'for_vacancy__label': isCardChoosen,
      'for_vacancy__label--unpicked': !isCardChoosen
    }"
  >
    Picked
  </div>

  <div
    *ngIf="shouldShowDeleteTooltip"
    class="card__delete"
    (click)="deleteCandidate.next(candidate.id)"
    matRipple
    [matRippleColor]="'rgba(255,255,255,.2)'"
    [matTooltip]="deleteTooltipMessage"
    matTooltipPosition="left"
  >
    Delete
  </div>

  <figure
    *ngIf="shouldShowImage"
    class="card__figure"
    [matTooltip]="'Go to ' + candidate.name + '\'s page'"
    matTooltipPosition="above"
    [matTooltipShowDelay]="1000"
    matRipple
    [matRippleColor]="'rgba(255,255,255,.2)'"
  >
    <a (click)="goToCandidatePage.next(candidate.id)">
      <img [src]="candidate.photo" class="card__img" />
    </a>
  </figure>

  <div class="card__content">
    <table class="table">
      <tr>
        <td>{{ 'Name' | translate }}:</td>
        <td>{{ candidate?.name }}</td>
      </tr>
      <tr>
        <td>{{ 'Surname' | translate }}:</td>
        <td>{{ candidate?.surname }}</td>
      </tr>
    </table>

    <hr-candidate-contacts [contactsArr]="candidate.contacts">
    </hr-candidate-contacts>
  </div>
</div>
