<div class="controls">
  <button
    mat-mini-fab
    color="primary"
    matTooltip="Assign an interview"
    (click)="onAddInterview()"
  >
    <mat-icon>calendar_today</mat-icon>
  </button>

  <button
    mat-mini-fab matTooltip="Add a CV"
    color="primary"
    (click)="addCV.emit()"
  >
    <mat-icon>assignment</mat-icon>
  </button>

  <button mat-mini-fab color="primary" matTooltip="Add an experience">
    <mat-icon>contacts</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    matTooltip="Add a note"
    (click)="onAddNote()"
  >
    <mat-icon>note_add</mat-icon>
  </button>
</div>

<div *ngFor="let item of timeline">
  <div [ngSwitch]="item['type']">

    <hr-timeline-note
      *ngSwitchCase="TIMELINE_ITEM_TYPE.note"
      [note]="item"
      (deleteNote)="onDeleteNote($event)"
      (changeNote)="onChangeNote($event)"
    >
    </hr-timeline-note>

    <hr-timeline-cv
      *ngSwitchCase="TIMELINE_ITEM_TYPE.cv"
      [cv]="item"
      (deleteCV)="deleteCV.emit($event)"
    >
    </hr-timeline-cv>

    <hr-timeline-interview
      *ngSwitchCase="TIMELINE_ITEM_TYPE.interview"
      [interview]="item"
    >
    </hr-timeline-interview>

    <hr-timeline-feedback
      *ngSwitchCase="TIMELINE_ITEM_TYPE.feedback"
      [feedback]="item"
      (feedbackChanged)="changeFeedback.emit($event)"
    >
    </hr-timeline-feedback>

  </div>
</div>
