<div class="controls">
  <button
    mat-mini-fab color="primary"
    matTooltip="Assign an interview"
    (click)="onAddInterview()"
  >
    <mat-icon>calendar_today</mat-icon>
  </button>
  <button mat-mini-fab matTooltip="Add a cv" color="primary">
    <mat-icon>assignment</mat-icon>
  </button>
  <button mat-mini-fab color="primary" matTooltip="Add an experience">
    <mat-icon>contacts</mat-icon>
  </button>
  <button
    mat-mini-fab color="primary"
    matTooltip="Add a note"
    (click)="onAddNote()"
  >
    <mat-icon>note_add</mat-icon>
  </button>
</div>

<div *ngFor="let item of timeline">
  <div [ngSwitch]="item['type']">
    <hr-timeline-note
      *ngSwitchCase="TIMELINE_ITEM_TYPE.note"
      [note]="item"
      (deleteNote)="onDeleteNote($event)"
    >
    </hr-timeline-note>
    <hr-timeline-interview *ngSwitchCase="TIMELINE_ITEM_TYPE.interview" [interview]="item">
  </hr-timeline-interview>
  </div>
</div>
