.wrapper {
  padding-top: 2.5rem;
  display: flex;
  justify-content: center;

  .candidates {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 95.2rem;
  }
}

@media only screen and (max-width: 1200px) {
    .wrapper {
      .candidates {
        max-width: 71.4rem;
      }
    }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    .candidates {
      max-width: 47.6rem;
    }
  }
}

@media only screen and (max-width: 515px) {
  .wrapper {
    .candidates {
      max-width: 23.8rem;
    }
  }
}
