<div class="dialog">
  <h2 mat-dialog-title>Attach CV</h2>
  <form fxLayout="column" #form="ngForm">
    <input
      type="file"
      accept=".doc,.docx,.txt,.pdf"
      placeholder="Input file"
      name="input-file"
      (change)="addCV($event)"
      required
    />
  </form>
  <div
    mat-dialog-actions
    fxLayout="row nowrap"
    fxLayoutGap="10px"
    class="actions"
  >
    <button
      mat-raised-button
      color="warn"
      [mat-dialog-close]="false"
      fxFlex="50"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="chosenFile"
      cdkFocusInitial
      fxFlex="50"
      [disabled]="!chosenFile"
    >
      Save
    </button>
  </div>
</div>
