h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.dialog {
  padding-bottom: 3rem;
  min-width: 22vw;
  max-height: 90vh;
}

.add_contact {
  width: 100%;
}

.actions {
  margin-top: 1rem;
}


.requirements_title {
  margin-bottom: 1.5rem;
  span {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
  }
}

.contact_delete {
  opacity: 0;
  cursor: pointer;
  transition: .25s ease-out;
}

.form_group {
  mat-form-field {
    margin-right: 2rem !important;
  }

//   mat-checkbox:first-of-type {
//     margin-right: 3rem !important;
//   }
}


.form_group:hover .contact_delete {
  opacity: 1;
}

form {
  max-height: 80%s;
  overflow: auto;
}
