.eug__container {
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.eug_calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 1;
}

.eug_calendar__header {
  align-self: stretch;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4.5rem;
}

.eug__calendar__month {
  font-size: 3rem;
  font-weight: 700;
  margin-right: 1rem;
}


.eug_calendar__body {
  border-collapse: collapse;
}

.eug_calendar__td,
.eug_calendar__th {
  padding: 10px;
  text-align: center;
}

.eug_calendar__td {
  position: relative;
  padding: 3.5rem;
}

.eug_calendar__th {
  border-bottom: 1px solid #e6e6e6;
  color: gray;
  font-size: 10px;
}

.eug_calendar__td.today {
  color: white;
}

.eug_calendar__td:hover {
  cursor: pointer;
}

.eug_calendar .prev-month,
.eug_calendar .next-month {
  color: rgb(179, 179, 179);
  cursor: auto;
}

.eug_calendar__td.event::before {
  content: '';
  display: block;
  position: absolute;
  width: .6rem;
  height: .6rem;
  background-color: var(--color-accent);
  border-radius: 50%;
  top: 20%;
  left:50%;
  transform: translateX(-50%);
}

.eug_calendar__td.event.prev-month::before,
.eug_calendar__td.event.next-month::before {
  background-color: rgb(179, 179, 179);
}

.eug_calendar__td.today::before {
  background-color: #fff;
}

.eug_calendar__td.clicked::after,
.eug_calendar__td.today::after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 1px solid rgb(199, 199, 199);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eug_calendar__td:hover::after {
  content: '';
  border-radius: 50%;
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: rgba(250, 66, 127, 0.07);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.eug_calendar__td.prev-month:hover::after,
.eug_calendar__td.next-month:hover::after {
  border: none;
  background: none;
}

.eug_calendar__td.today::after {
  border: none;
  background-color: var(--color-primary);
  z-index: -1;
}

.eug_calendar__td.today.clicked {
  background-color: transparent;
  color: black;
}

.eug_calendar__td.today.clicked::before {
  background-color: var(--color-primary);
}

.eug_calendar__td.today.clicked::after {
  border: 1px solid var(--color-primary);
  background-color: transparent;
  z-index: -1;
}
