<div class="eug__container">
  <div class="eug_calendar" #calendar>
    <div class="eug_calendar__header" #header>
      <button mat-icon-button color="primary" (click)="goPrevMonth()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span>
        <span class="eug__calendar__month">{{ formatMonth(month) }}</span> {{ year }}
      </span>
      <button mat-icon-button color="primary" (click)="gonextMonth()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <a
    class="calendar__btn"
    mat-raised-button
    color="primary"
    (click)="onAddEvent()"
  >
    <mat-icon>add</mat-icon>
    <span>Add Interview</span>
  </a>
</div>
