<div class="short-info"  fxLayout="column">
  <figure
    class="short-info-figure"
    fxLayout="column"
    fxLayoutAlign="center center"
    matRipple
  >
    <img class="short-info-img" width="250" height="300"  [src]="candidate.photo"/>
    <div class="overflow">Click to update the image</div>
    <input
      type="file"
      id="img-uploader"
      style="display:none;"
      (change)="onFileUpload($event)"
    />
    <label for="img-uploader" class="img-uploader"></label>
  </figure>

  <form fxLayout="column" #form="ngForm">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="candidate.name"
        placeholder="Name"
        name="Name"
        required
      />
      <mat-error align="end">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="candidate.position"
        placeholder="Position"
        name="Position"
      />
    </mat-form-field>
    <div>
      <p>Contacts:</p>
      <div *ngFor="let contact of candidate.contacts; let i = index">
        <mat-checkbox (change)="preferContact(i)" class="checkbox" [checked]="contact.preferred" title="Preferred contact">
        </mat-checkbox>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]= " contact.value"
            placeholder= {{contact.name}}
            name= {{contact.name}}
          />
        </mat-form-field>
      </div>
    </div>
    <button
      mat-raised-button
      (click)="saveToDb()"
      color="primary"
    >Save</button>
  </form>
</div>
