<mat-card class="form-container">
  <mat-card-title>LOGIN</mat-card-title>

  <mat-card-content>
    <form novalidate [formGroup]="f" (ngSubmit)="onSubmit()">

      <mat-form-field class="form__input">
        <input matInput placeholder="Email" required formControlName="email" />
        <mat-error *ngIf="f.get('email').hasError('email')"> Provide a <strong>valid</strong> email </mat-error>
        <mat-error *ngIf="f.get('email').hasError('required')"> Email is <strong>required</strong> </mat-error>
      </mat-form-field>

      <mat-form-field class="form__input">
        <input
          type="password"
          matInput
          placeholder="Password"
          required
          formControlName="password"
        />
        <mat-error *ngIf="f.get('password').hasError('minlength')"> Min length is
          <strong>{{f.get('password').errors['minlength']['requiredLength']}}</strong>.
           You've entered <strong>{{f.get('password').errors['minlength']['actualLength']}}</strong> </mat-error>
        <mat-error *ngIf="f.get('password').hasError('required')"> Password is <strong>required</strong> </mat-error>
      </mat-form-field>

      <mat-card-actions>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="form__submit"
          [disabled]="f.invalid"
        >
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

