.form-container {
  max-width: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 3rem 5rem;
}

mat-card-title {
  margin-bottom: 3rem;
}

.form__input {
  width: 100%;
}

.form__input:not(:last-child) {
  margin-bottom: 2rem;
}

.form__submit {
  width: 100%;
}

.form__link {
  color: var(--color-blue);
  text-decoration: none;
}

.form__footer {
  font-size: 1.4rem;
}
