.wrapper {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 2rem 3rem;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafa;
  position: relative;

  h2 {
    margin-top: 1rem;
  }
}
