<div class="wrapper">
  <h2>Possible Applicants 👩‍💼🤵</h2>

  <button
    (click)="addPossibleCandidates.next()"
    mat-raised-button
    color="primary"
    matTooltip="Add possible applicants for this position"
    matTooltipPosition="right"
  >
    <mat-icon style="margin-right: .7rem">group_add</mat-icon>
    Add Candidates
  </button>

  <hr-candidates-list
    [candidates$]="possibleCandidates$"
    [deleteTooltipMessage]="'Delete this Candidate from this Vacancy'"
    (goToCandidatePage)="goToCandidatePage.emit($event)"
  >
  </hr-candidates-list>
</div>
