<div class="wrapper">
  <div class="item card" *ngFor="let item of timeline">
    <header class="card__header">
      <h2 class="card__heading" [ngSwitch]="item?.type">
        <span *ngSwitchCase="TYPE.cv">CV</span>
        <span *ngSwitchCase="TYPE.feedback">Feedback</span>
        <span *ngSwitchCase="TYPE.note">Note</span>
        <span *ngSwitchDefault>Empty Doc</span>
      </h2>
      <p class="card__timestamp" *ngIf="item">
        {{ item?.timestamp | date }} at {{ item?.timestamp | date: 'HH:mm' }}
      </p>
    </header>

    <ng-container [ngSwitch]="item?.type">
      <hr-inter-assets-cv *ngSwitchCase="TYPE.cv" [cv]="item">
      </hr-inter-assets-cv>

      <hr-inter-assets-note *ngSwitchCase="TYPE.note" [note]="item">
      </hr-inter-assets-note>

      <hr-inter-assets-feedback *ngSwitchCase="TYPE.feedback" [feedback]="item">
      </hr-inter-assets-feedback>
    </ng-container>

    <div class="card__empty" *ngIf="!item">
      😟
    </div>
  </div>
</div>


